<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Spectabis_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <Spectabis_WPF.Properties.Settings>
      <setting name="showTitle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="doubleClick" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="emuDir" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="nightMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autoBoxart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="artDB" serializeAs="String">
        <value>TheGamesDB</value>
      </setting>
      <setting name="APIKey_GiantBomb" serializeAs="String">
        <value>null</value>
      </setting>
    </Spectabis_WPF.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs"/>
    </assemblyBinding>
  </runtime>
</configuration>
